.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

body {
    overflow: hidden;
}

#renderCanvas {
    width: 50%;
    height: 50%;
    border: 1px solid black;
    touch-action: none;
}

.card-wheels {
    width: 100px;
    height: 100px;
}

.card-telaio {
    width: 100px;
    height: 100px;
}

.card-wheels > img {
    max-height: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.mountainBike-wrapper {
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

.tireColorSelector-wrapper, .telaioColorSelector-wrapper, .changeWheels-wrapper {
    display: flex;
    flex-direction: row;
}

.tireColorSelector-wrapper > button, .telaioColorSelector-wrapper > button{
    border: 2px solid transparent;
}

.tireColorSelector-wrapper > button.selected, .telaioColorSelector-wrapper > button.selected {
    border: 2px solid black;
}

.personalization-wrapper {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10%;
    padding-top: 0;
    align-items: center;
    overflow-y: scroll;
    max-height: 600px;
    overflow-x: hidden;
}

.changeManubrio-wrapper {
    display: flex;
    flex-direction: row;
}

.images {
    max-width: 200px;
    max-height: 200px;
}

button {
    border-radius: 2px;
    padding: 0px;
    margin: 2px;
}

button:hover {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 2px;
    cursor: pointer;;
}

.wheels-customization-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wheels-customization-wrapper > div {
    padding: 2px;
}

.accessori-wrapper {
    display: flex;
}

.cartRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}