.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#renderCanvas {
    width: 80%;
    height: 80%;
    touch-action: none;
}

.card-wheels {
    width: 100px;
    height: 100px;
}

.card-wheels > img {
    max-height: 100px;
}

.red-wheels {
    background-color: red;
}

.green-wheels {
    background-color: green;
}

.white-wheels {
    background-color: white;
}

.black-wheels {
    background-color: black;
    color: white;
}